# dependencies

node_modules/

# environment variables

.env

# logs

*.log

# Next.js build

.next/
out/

# build files

dist/
build/

# coverage

coverage/

# OS files

.DS_Store
Thumbs.db
nul

# IDE

.vscode/
.idea/
